--indent 4

--exclude Pods

--wraparguments before-first
--importgrouping testable-bottom

--enable blankLinesBetweenScopes
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable linebreakAtEndOfFile
--enable redundantParens # https://google.github.io/swift/#parentheses, https://google.github.io/swift/#enum-cases, https://google.github.io/swift/#trailing-closures
--enable semicolons
--enable sortedImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundOperators
--enable spaceInsideBraces
--enable specifiers
--enable trailingSpace # https://google.github.io/swift/#horizontal-whitespace

--allman false
--binarygrouping none
--closingparen balanced
--commas always
--conflictmarkers reject
--decimalgrouping none
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--indentcase false
--linebreaks lf
--maxwidth none
--nospaceoperators 
--nowrapoperators 
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--self init-only
--selfrequired 
--semicolons inline
--specifierorder 
--tabwidth unspecified
--trailingclosures 
--trimwhitespace always
--wrapcollections before-first
--wrapparameters preserve
--xcodeindentation disabled

--disable unusedArguments

--header /*\n * Copyright {year} Square Inc.\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n * \ \ \ \ http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n */