sudo: false

branches:
  except:
    - gh-pages

notifications:
  email: false

matrix:
  include:
    # Verify the documentation site builds successfully, but don't deploy it.
    - language: python
      python:
        - "2.7"
      install:
        - pip install mkdocs-material
      script:
        - mkdocs build
    - language: android
      name: "Android"
      jdk: oraclejdk8
      env:
        - secure: "SWQBLsaI5fOfiM+48/oAOcynsnpa1hHADxs8Vsmt7gsqVrtL369znwsX+PkNOXTdAROPKHzfCw1PkMSKiWHwSB+Gc8fMqFoVjxPnpi0NAhm2b4q4pq6GLOed2xF93eLoQZ7x4UwcUie58Qlwif9ZSGyp+7V6fEy7/AexGLPAuD0="
        - secure: "gFmZ18DktyZonExeAYGT4HtCodvAbRcH94AImWG6DrJZFzGkRSN//s1AjrgkAL/jZ4lLuoxyCs1nBoX2U83LmpJ8KxLIhU/45JlJgmD1tnE2zdFim6dHN+J6Yj7MCWqD5KO6E0dJickTJG2XzFu0oN3vBn7sETliQHzlw2lw8ME="
      before_install:
        - cd kotlin
        - mkdir "$ANDROID_HOME/licenses" || true
        - echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" > "$ANDROID_HOME/licenses/android-sdk-license"
      after_success:
        - ../.buildscript/deploy_snapshot.sh
      cache:
        directories:
          - $HOME/.gradle/caches/
          - $HOME/.gradle/wrapper/
          - $HOME/.m2
    # Disabled due to https://github.com/square/workflow/issues/223
    # - language: swift
    #   name: "Swift - Workflow - Cocoapods (Xcode 10.1)"
    #   os: osx
    #   osx_image: xcode10.1
    #   xcode_workspace: SampleApp.xcworkspace
    #   xcode_scheme: Workflow-Unit-Tests
    #   xcode_destination: platform=iOS Simulator,OS=10.1,name=iPad Pro (9.7-inch)
    #   before_install:
    #     - gem update --system
    #     - gem install bundler
    #     - bundle install
    #     - cd swift/Samples/SampleApp
    #     - bundle exec pod repo update
    #     - bundle exec pod install
    # Disabled due to https://github.com/square/workflow/issues/201
    # - language: swift
    #   name: "Swift - WorkflowUI - Cocoapods (Xcode 10.1)"
    #   os: osx
    #   osx_image: xcode10.1
    #   xcode_workspace: SampleApp.xcworkspace
    #   xcode_scheme: WorkflowUI-Unit-Tests
    #   xcode_destination: platform=iOS Simulator,OS=10.1,name=iPad Pro (9.7-inch)
    #   before_install:
    #     - gem update --system
    #     - gem install bundler
    #     - bundle install
    #     - cd swift/Samples/SampleApp
    #     - bundle exec pod repo update
    #     - bundle exec pod install
    - language: swift
      name: "Swift - Workflow - Cocoapods (Xcode 10.2)"
      os: osx
      osx_image: xcode10.2
      xcode_workspace: SampleApp.xcworkspace
      xcode_scheme: Workflow-Unit-Tests
      xcode_destination: platform=iOS Simulator,OS=12.2,name=iPad Pro (9.7-inch)
      before_install:
        - gem update --system
        - gem install bundler
        - bundle install
        - cd swift/Samples/SampleApp
        - bundle exec pod repo update
        - bundle exec pod install
    - language: swift
      name: "Swift - WorkflowUI - Cocoapods (Xcode 10.2)"
      os: osx
      osx_image: xcode10.2
      xcode_workspace: SampleApp.xcworkspace
      xcode_scheme: WorkflowUI-Unit-Tests
      xcode_destination: platform=iOS Simulator,OS=12.2,name=iPad Pro (9.7-inch)
      before_install:
        - gem update --system
        - gem install bundler
        - bundle install
        - cd swift/Samples/SampleApp
        - bundle exec pod repo update
        - bundle exec pod install
    - language: swift
      name: "Swift - SPM (Xcode 10.1)"
      os: osx
      osx_image: xcode10.1
      cache:
        directories:
          - .build
      before_install:
        - gem update --system
        - gem install bundler
        - swift --version
        - swift build --verbose
      script:
        - swift test
    - language: swift
      name: "Swift - SPM (Xcode 10.2)"
      os: osx
      osx_image: xcode10.2
      cache:
        directories:
          - .build
      before_install:
        - gem update --system
        - gem install bundler
        - swift --version
        - swift build --verbose
      script:
        - swift test
